/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*style*/
body {
    margin-top: 2%;
    background-color: #e9f0f4;
}
body * {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.to-do_list {
    position: relative;
    width: 320px;
    margin: 0 auto;
}
.title {
    background: #2e3641;
}
.title__text {
    display: block;
    margin-left: 36px;
    padding-left: 10px;
    line-height: 36px;
    color: #dae4eb;
    font-family: MyriadProRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-left: 1px solid #454f5c;
}
.title__border {
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 36px;
    border-right: 1px solid #454f5c;
}

.list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.list:before,
.list:after {
    content: " ";
    position: absolute;
    left: 33px;
    top: 0;
    bottom: 0;
    z-index: 2;
    border-left: 1px solid #f2e3df;
}
.list:after {
    left: 35px;
}
.list__item {
    position: relative;
    min-height: 29px;
    color: #767a7d;
}
.list__item:not(:last-of-type):after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e6ebed;
}
.list__item--new_task {
    color: #777a7d;
}
.list__item--new_task .checkbox__text {
    opacity: .5;
}
.list__label {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 30px);
    cursor: pointer;
    z-index: 3;
}
.checkbox__input,
.plus{
    position: absolute;
    top: 8px;
    left: 11px;
    cursor: pointer;
}
.plus{
    top: 4px;
    font-size: 20px;
    color: #dae4eb;
}
.list__trash {
    display: inline-block;
    position: relative;
    float: right;
    width: 30px;
    height: 29px;
    cursor: pointer;

}
.checkbox__text {
    display: block;
    margin-left: 36px;
    padding: 9px 0 7px 10px;
    font-family: MyriadProRegular, Arial, Helvetica, sans-serif;
    font-size: 12px;
}




/*icon*/
.trash_icon{
    height: 14px;
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
}
.close {
    position: absolute;
    top: 0;
    right: 5px;
    display: inline-block;
    width: 15px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}
.close:hover:before,
.close:hover:after {
    background: #be8896;
}
.close:before,
.close:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #4a4a4a;
    transition: .2s linear;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}


/*overlay + loader + message*/
.overlay {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    z-index: 4;
}
.overlay:before {
    font-size: 0;
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.overlay--show {
    display: block;
}
/*message*/
.message {
    position: relative;
    left: calc(50% - 125px);
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 250px;
    background-color: #d3e6ff;
    z-index: 3;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #fff;
}
/*loader*/
.spinner {
    position: relative;
    left: calc(50% - 35px);
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #fff;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

/* Сheckbox styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 7px;
    width: 10px;
    height: 10px;
    border: 1px solid #aaa;
    background: #f8f8f8;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 9px;
    left: 12px;
    font-size: 10px;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}

label:hover:before {
    border: 1px solid #4778d9!important;
}